{% extends "myroot/dashboard/layout_dash.html" %}
{% load static %}
{% load humanize %}

{% block extra_styles_head %}
<!-- START OF reCaptcha settings -->
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script type="text/javascript" defer>
    var onloadCallback = function(){
        grecaptcha.render("gReCaptcha",{
            "sitekey": "{{ GRECAP_SITE_KEY }}",
            "badge": "inline",
            "type": "image",
            "size": "invisible",
            "callback": onSubmit
        });
    };

    var onSubmit = function(token){
        saveForm();
    }

    function validate(event){
        if (isRequiredFieldsPass()){
            event.preventDefault();
            grecaptcha.execute();
        }
    }
</script>
<!-- END OF reCaptcha settings -->
{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ title }}</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header" style="top: .3rem; !important">
                        <h3 class="card-title">
                            Enter New Password.
                            <small>Please enter your new password twice so we can verify you typed it incorrectly.</small>
                        </h3>
                    </div>

                    <div class="card-body pt-3">
                        <form id="formChangePassword" class="form-horizontal" method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="inputName" class="col-sm-12 control-label">
                                    <b>New Password</b>
                                </label>
                                <div class="col-sm-12">
                                    {{ formChangePassword.new_password1 }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-12 control-label">
                                    <b>Confirm Password</b>
                                </label>
                                <div class="col-sm-12">
                                    {{ formChangePassword.new_password2 }}
                                </div>
                            </div>

                            <div class="form-group">
                                <h5>New Password Information:</h5>
                                <p>
                                    Your password must contain at least <b>{{ MIN_PASS_LENGTH }}</b> characters.<br>
                                    The password must contain at least 1 digit from <b>0-9</b>.<br>
                                    The password must contain at least 1 uppercase letter from <b>A-Z</b>.<br>
                                    The password must contain at least 1 lowercase letter from <b>a-z</b>.<br>
                                </p>
                            </div>

                            <!-- reCaptcha place holder-->
                            <div id="gReCaptcha"></div>

                        </form>
                    </div>

                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-primary" onclick="saveForm();" id="btnSave"><i class="far fa-save"></i> Change Password</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/common/common.js' %}" defer></script>
<script src="{% static 'sweetalert/sweetalert.js' %}" defer></script>

<script defer>

    var BASE_URL = "{{ BASE_URL }}";
    var COMMON_ASSETS_URL = "{% static 'assets/images/' %}";
    var THIS_OBJ = '';

    function isRequiredFieldsPass()
    {
        id_new_password1 = $("#id_new_password1").val();
        id_new_password2 = $("#id_new_password2").val();

        if (id_new_password1 === undefined || id_new_password1 === null || id_new_password1 ===""){
            swal("New password is Required!", "Please enter your new password.", "error");
            $("#id_new_password1").focus();
            return false;
        }

        if (id_new_password2 === undefined || id_new_password2 === null || id_new_password2 ===""){
            swal("Confirm password is Required!", "Please confirm your new password.", "error");
            $("#id_new_password2").focus();
            return false;
        }

        if (id_new_password1 != id_new_password2){
            swal("Password Not Match", "Passwords do not match, please try again.", "error");
            $("#id_new_password2").focus();
            return false;
        }

        return true;
    }

    function saveForm(saveType)
    {
        var $form = $("#formChangePassword");

        id_new_password1 = $("#id_new_password1").val();
        id_new_password2 = $("#id_new_password2").val();

        if (id_new_password1 === undefined || id_new_password1 === null || id_new_password1 ===""){
            swal("New password is Required!", "Please enter your new password.", "error");
            $("#id_new_password1").focus();
            return false;
        }

        if (id_new_password2 === undefined || id_new_password2 === null || id_new_password2 ===""){
            swal("Confirm password is Required!", "Please confirm your new password.", "error");
            $("#id_new_password2").focus();
            return false;
        }

        if (id_new_password1 != id_new_password2){
            swal("Password Not Match", "Passwords do not match, please try again.", "error");
            $("#id_new_password2").focus();
            return false;
        }

        $.ajax({
            method: "POST",
            url: BASE_URL+'change_password/',
            data: $form.serialize(),
            cache: false,
            dataType: "json",
            beforeSend: function(){
                //Start displaying button's working animation
                var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> updating...';
                if ($("#btnSave").html() !== loadingText) {
                    $("#btnSave").data('original-text', $("#btnSave").html());
                    $("#btnSave").html(loadingText);
                }
            },
            success: function(jResults)
            {
                // Reload reCaptcha
                grecaptcha.reset();
                myutils.btnReCaptcha("btnSave");

                $("#btnSave").html($("#btnSave").data('original-text')); //stop animation and switch back to original text

                if(jResults.alert_type =='success'){
                    swal(jResults.alert_title, jResults.alert_msg, jResults.alert_type);
                    location.assign(BASE_URL + "logout");
                }
                else {
                    var strErr = jResults.alert_msg + '';
                    strErr = strErr.split(",").pop();
                    swal(jResults.alert_title, strErr, jResults.alert_type);
                }
            }
        });
    }

    $(document).ready(function()
    {
        // Reload reCaptcha
        myutils.btnReCaptcha("btnSave");
    });

</script>
{% endblock %}
