{% extends "myroot/layout_auth.html" %}
{% load static %}

{% block extra_styles_head %}
<style>
    body,html{height:100%}body{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-align:center;-ms-flex-pack:center;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;padding-top:40px;padding-bottom:40px}
</style>

<!-- START OF reCaptcha settings -->
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script type="text/javascript" defer>
    var onloadCallback = function(){
        grecaptcha.render("gReCaptcha",{
            "sitekey": "{{ GRECAP_SITE_KEY }}",
            "badge": "inline",
            "type": "image",
            "size": "invisible",
            "callback": onSubmit
        });
    };

    var onSubmit = function(token){
        saveForm();
    }

    function validate(event){
        if (isRequiredFieldsPass()){
            event.preventDefault();
            grecaptcha.execute();
        }
    }
</script>
<!-- END OF reCaptcha settings -->
{% endblock %}

{% block content %}

    <div class="col-md-5 order-md-2 mx-auto">
        <div class="card box-shadow">
            <div class="card-body">
                <div class="py-1 text-center">
                    <img class="d-block mx-auto mb-2 rounded d-image" data-src="{{ APP_URL_TOP_LOGO }}" alt="Logo">
                    <h1 class="h3 mb-1 font-weight-normal">Reset Password</h1>
                    <p class="">We can help you reset your password using your registered email address linked to your {{ SITE_SHORT_NAME }} account.</p>
                </div>

                <form id="formForgot" class="" method="POST">
                    {% csrf_token %}

                    <div class="form-label-group">
                        {{ form.email }}
                        <label for="id_email">Registered Email</label>
                    </div>

                    <!-- reCaptcha place holder-->
                    <div id="gReCaptcha"></div>
                </form>

                <div class="">
                    <button class="btn btn-lg btn-primary btn-block" onclick="saveForm();" id="btnResetPass">Reset Password</button>

                    <div class="mt-3 mb-1 text-center">
                        <p>Have an Account?<a href="{% url 'login' %}"> Log in</a><br/>
                        Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/common/common.js' %}" defer></script>
<script src="{% static 'sweetalert/sweetalert.js' %}" defer></script>

<script defer>

    var BASE_URL = "{{ BASE_URL }}";
    var COMMON_ASSETS_URL = "{% static 'assets/images/' %}";
    var THIS_OBJ = '';

    document.querySelector('#id_email').addEventListener('keypress', function (e) {
        var key = e.which || e.keyCode;
        if (key === 13) { // 13 is enter
            e.preventDefault();
        }
    });

    function isRequiredFieldsPass()
    {
        id_email = $("#id_email").val();

        if (id_email === undefined || id_email === null || id_email ===""){
            swal("Registered Email is Required!", "Please enter your email that linked to your account.", "error");
            $("#id_email").focus();
            return false;
        }

        return true;
    }

    function saveForm()
    {
        //Get the form instance
        var $form = $("#formForgot");
        id_email = $("#id_email").val();

        if (id_email === undefined || id_email === null || id_email ===""){
            swal("Registered Email is Required!", "Please enter your email that linked to your account.", "error");
            $("#id_email").focus();
            return false;
        }

        $.ajax({
            method: "POST",
            url: BASE_URL+'password_reset/',
            data: $form.serialize(),
            cache: false,
            dataType: "json",
            beforeSend: function(){
                //Start displaying button's working animation
                var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> working...';
                if ($("#btnResetPass").html() !== loadingText) {
                    $("#btnResetPass").data('original-text', $("#btnResetPass").html());
                    $("#btnResetPass").html(loadingText);
                }
            },
            success: function(jResults)
            {
                // Reload reCaptcha
                grecaptcha.reset();
                myutils.btnReCaptcha("btnResetPass");

                $("#btnResetPass").html($("#btnResetPass").data('original-text')); //stop animation and switch back to original text

                if(jResults.alert_type =='success'){
                    window.location.replace(jResults.base_url + jResults.redirect_url);
                }
                else {
                    var strErr = jResults.alert_msg + '';
                    strErr = strErr.split(",").pop();
                    swal(jResults.alert_title, strErr, jResults.alert_type);
                }
            }
        });
    }

    $(document).ready(function()
    {
        // Reload reCaptcha
        myutils.btnReCaptcha("btnResetPass");

    });
</script>
{% endblock %}
