{% extends "myroot/layout_auth.html" %}
{% load static %}

{% block extra_styles_head %}
<link rel="stylesheet" href="{% static 'assets/css/center.css' %}">
{% endblock %}

{% block content %}

    <div class="py-1 text-center">
        <img class="d-block mx-auto mb-2 rounded d-image" data-src="{{ APP_URL_TOP_LOGO }}" alt="Logo">
        <h1 class="h3 mb-1 font-weight-normal">Password Reset Complete</h1>
        <p class="">
            Your password has been set. You may go ahead and <a href="{% url 'login' %}">log in</a> now.
        </p>
    </div>

{% endblock %}
{% block scripts %}{% endblock %}
