{% extends "myroot/layout_auth.html" %}
{% load static %}

{% block extra_styles_head %}
<link rel="stylesheet" href="{% static 'assets/css/center.css' %}">
{% endblock %}

{% block content %}

    <div class="py-1 text-center">
        <img class="d-block mx-auto mb-2 rounded d-image" data-src="{{ APP_URL_TOP_LOGO }}" alt="Logo">
        <h1 class="h3 mb-1 font-weight-normal">Password Reset Sent</h1>
        <p class="">
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p>
    </div>

    <div class="form-main">
        <div class="mt-3 mb-1 text-center">
            Don't have an account? <a href="{% url 'register' %}">Sign up</a>
        </div>
    </div>

{% endblock %}
{% block scripts %}{% endblock %}
