{% load static %}
{% load humanize %}

<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'dashboard' %}" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="https://pinoylearnpython.com/introduction/" class="nav-link">Introduction</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="https://pinoylearnpython.com/get-in-touch-with-me/" class="nav-link">Contact</a>
        </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" action="/searchresults/" method="get">
        <div class="input-group input-group-sm">
            <input id="q" name="q" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-danger navbar-badge" id="spTotNotifyUnread">
                    0
                </span>
            </a>

            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-footer">Oops!, so far you don't have any notifications.</span>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fas fa-bullhorn"></i>
                <span class="badge badge-warning navbar-badge" id="spTotNotifyUnread_BP">
                    0
                </span>
            </a>

            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-footer">Oops!, so far you don't have any notifications.</span>
            </div>
        </li>
    </ul>
</nav>
