{% extends "myroot/layout_home.html" %}
{% load static %}

{% block schema_json %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>Hello World using Direct HTML page.</p>
            <p><a class="btn btn-primary btn-lg" href="https://pinoylearnpython.com/hello-world-using-django-template/" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ title }}</h1>
            <p>Hello World using Django Context Variable.</p>
            <p><a class="btn btn-primary btn-lg" href="https://pinoylearnpython.com/hello-world-using-django-template/" role="button">Learn more »</a></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/common/common.js' %}" defer></script>

<script defer>

    var BASE_URL = "{{ BASE_URL }}";
    var COMMON_ASSETS_URL = "{% static 'assets/images/' %}";
    var THIS_OBJ = '';

</script>
{% endblock %}
